* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}nav {
  background-color: brown;
} nav ul {
  list-style-type: none;
  display: flex;
  gap: 1em;
} nav ul li a{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
  padding: 0 1em;
  color: white;
  text-decoration: none;
}